:root {
  color-scheme: light dark;
  --gap: 8px;
  --gap-rel: 2rem;
  --page-min-size: 320px;
  --page-max-size: 960px;

  --serif: "Times New Roman", serif;
  --sans-serif: Arial, sans-serif;

  --transition-duration: 0.5s;
  --transition-easing: ease-in-out;
}
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--serif);
  font-size: 18px;
  line-height: 1.618;
  color: var(--fg);
  background: var(--bg);
}
body {
  position: relative;
  display: grid;
  grid-template-rows: /*auto */ 1fr auto;
}
h1 {
  width: 100%;
  font-family: var(--sans-serif);
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0 0 2rem 0;
  padding: 0;
  text-shadow: 1px 2px var(--alt-fg);
}
h2 {
  width: 100%;
  font-family: var(--sans-serif);
  font-size: 2.47rem;
  margin: 0 0 1.24rem 0;
  padding: 0;
  text-shadow: 1px 2px var(--alt-fg);
}
h3 {
  width: 100%;
  font-size: 1.53rem;
  margin: 0 0 0.76rem 0;
  padding: 0;
}
h4,
p,
li {
  width: 100%;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  text-align: justify;
  padding: 0;
}
button,
.button {
  cursor: pointer;
  font-family: var(--sans-serif);
  font-size: 1rem;
  text-decoration: none;
  margin: 0;
  padding: calc(2 * var(--gap)) calc(4 * var(--gap));
  color: var(--off-fg);
  background: var(--alt-bg);
  border: 1px solid var(--off-bg-2);
}
button:hover,
.button:hover,
button:focus,
.button:focus,
button:active,
.button:active {
  background: var(--off-bg-2);
  text-decoration: none;
}
small {
  font-size: 0.85rem;
  margin: 0;
  padding: 0;
  color: var(--off-fg);
}
code {
  font-family: monospace;
}
ul {
  list-style: square;
  margin: 0;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  cursor: pointer;
  color: var(--fg);
  text-decoration: underline 1px;
}
a:visited {
  color: var(--alt-fg);
}
a:hover,
a:focus,
a:active {
  color: var(--off-fg);
  text-decoration: underline 2px;
}
img {
  box-shadow:
    0 0 0 1px var(--bg),
    0 0 0 2px var(--fg);
  filter: var(--img-filter);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--off-bg);
  border-bottom: 1px solid var(--alt-bg);
}
header #menu-toggle {
  display: none;
  width: 5ch;
  padding: 0 var(--gap);
  border: 1px solid var(--alt-bg);
}
header nav {
  display: flex;
  flex-flow: row nowrap;
}
header nav #controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
header nav #menu {
  width: 100%;
  display: block;
}
header nav a#logo h4 {
  font-family: var(--sans-serif);
  letter-spacing: 2px;
  padding: var(--gap);
  margin: 0;
}
header nav a#logo,
header nav a#logo:hover,
header nav a#logo:focus,
header nav a#logo:active,
header nav a#logo:visited {
  cursor: pointer;
  color: var(--fg);
  text-decoration: none;
}
header nav a#logo:visited {
  color: var(--alt-fg);
}
header nav a#logo:hover,
header nav a#logo:focus,
header nav a#logo:active {
  color: var(--off-fg);
  text-decoration: none;
}
header nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  width: auto;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--off-bg-2);
}
header nav ul li a {
  display: block;
  margin: 0;
  padding: var(--gap);
}
header nav ul li.active {
  background: var(--alt-bg);
  border-bottom: 1px solid var(--bg);
}
header nav ul li:nth-last-child(2) {
  margin-left: auto;
}
main {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--off-bg);
  border-bottom: 1px solid var(--off-bg);
}
section {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: var(--gap-rel) 0;
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--gap-rel);
  column-gap: var(--gap);
}
section article {
  margin: 0;
  padding: var(--gap-rel) var(--gap);
  border-bottom: 1px solid var(--alt-bg);
}
section article:last-of-type {
  border-bottom: none;
}
section article h4 {
  color: var(--alt-fg);
}
section article img {
  width: 100%;
  height: auto;
}
section#architect {
  border-color: var(--architect-bg);
}
section#architect img {
  box-shadow:
    0 0 0 1px var(--bg),
    0 0 0 2px var(--architect-bg);
}
section#developer {
  border-color: var(--developer-bg);
}
section#developer img {
  box-shadow:
    0 0 0 1px var(--bg),
    0 0 0 2px var(--developer-bg);
}
section#leader {
  border-color: var(--leader-bg);
}
section#leader img {
  box-shadow:
    0 0 0 1px var(--bg),
    0 0 0 2px var(--leader-bg);
}
footer {
  background: var(--off-bg-2);
  border-top: 1px solid var(--alt-bg);
  padding: 0 var(--gap);
}
footer section {
  padding-bottom: 0;
}
footer section article {
  padding-bottom: 0;
}
footer section article > p {
  text-align: center;
}
.col-3-1 {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-rel);
}
.col-3-1 .col {
  flex: 1 1 calc(var(--page-max-size) / 4);
}
.col-3-1 .col-3 {
  flex-grow: 3;
}
.no-before::before {
  display: none;
}
.buttons {
  width: 100%;
  margin: var(--gap-rel) 0;
  padding: var(--gap);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--gap);
}
.buttons button,
.buttons .button {
  flex-grow: 1;
}
.buttons button::before,
.buttons .button::before {
  content: "»";
  margin-right: var(--gap);
}
.wrapper {
  min-width: var(--page-min-size);
  max-width: var(--page-max-size);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.highlight {
  background: var(--off-bg);
}
.architect-fg {
  color: var(--architect-fg);
}
.developer-fg {
  color: var(--developer-fg);
}
.leader-fg {
  color: var(--leader-fg);
}
.teacher-fg {
  color: var(--teacher-fg);
}
.architect-bg {
  color: white !important;
  text-shadow: 1px 2px var(--architect-fg);
  background: var(--architect-bg);
  border-color: var(--architect-fg) !important;
}
.developer-bg {
  color: white !important;
  text-shadow: 1px 2px var(--developer-fg);
  background: var(--developer-bg);
  border-color: var(--developer-fg) !important;
}
.leader-bg {
  color: white !important;
  text-shadow: 1px 2px var(--leader-fg);
  background: var(--leader-bg);
  border-color: var(--leader-fg) !important;
}
.teacher-bg {
  color: white !important;
  text-shadow: 1px 2px var(--teacher-fg);
  background: var(--teacher-bg);
  border-color: var(--teacher-fg) !important;
}
@media (max-width: 960px) {
  :root {
    --gap-rel: 1rem;
  }
  main {
    margin-top: var(--gap-rel);
  }
  header nav {
    flex-flow: column nowrap;
  }
  header nav #menu {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition-duration) var(--transition-easing);
  }
  header nav #menu ul {
    flex-flow: column nowrap;
  }
  header nav #menu ul li:nth-last-child(1),
  header nav #menu ul li:nth-last-child(2) {
    margin-left: 0;
    text-align: right;
  }
  header nav #menu ul li a:active,
  header nav #menu ul li a:focus,
  header nav #menu ul li a:hover {
    background: var(--off-bg-2);
  }
  header #menu-toggle {
    display: block;
  }
  header #menu-toggle::before {
    content: "☰";
  }
  /* header #menu-toggle:active::before {
    content: "☓";
  } */
  header nav:has(#menu ul li a:focus) #menu,
  header nav:has(#menu-toggle:focus) #menu,
  header nav:has(#menu-toggle:active) #menu {
    max-height: 14rlh;
  }
}
