main section h2 {
  margin: var(--gap-rel) 0 0 0;
}
footer section article {
  padding: var(--gap) 0;
}
footer section article p {
  margin: 0;
}

body.item section article h3 {
  margin-top: var(--gap-rel);
}

body.item section article figure {
  margin: var(--gap-rel) auto;
}
