:root {
    --fg-color-1: #283347;
    --fg-color-2: #586c91;
    --fg-color-3: #8fa4c3;
    --bg-color-2: #dfe7f2;
    --bg-color-1: #f4f7fc;
    --hero-img-filter: sepia(100%) hue-rotate(180deg) brightness(100%);
}