@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap');

:root {
    color-scheme: light dark;
    --grid: 8px;
    --page-min-size: 320px;
    --page-max-size: 960px;
}
* {
    box-sizing: border-box;
    /* transition: color 0.5s ease, background-color 0.5s ease; */
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 2vh;
    line-height: 1.618;
    color: var(--fg-color-1);
    background: var(--bg-color-1);
}
h1, h2 {
    font-family: "Roboto Slab", serif;
    margin: 0 0 2rem 0;
    padding: 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.47rem;
}
h3, p {
    margin: 0 0 1.5rem 0;
    padding: 0;
}
h3 {
    font-size: 1.53rem;
}
p {
    font-size: 1rem;
}
code {
    font-family: 'Roboto Mono', monospace;
}
a, a:visited {
    cursor: pointer;
    text-decoration: underline;
    color: var(--fg-color-2);
}
a:hover, a:active, a:focus {
    text-decoration: none;
    color: var(--fg-color-1);
}
section {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: calc(4 * var(--grid)) 0 0 0;
    background: var(--bg-color-1);
    scroll-snap-align: start;
}
section.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bg-color-1), var(--bg-color-1));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: var(--hero-img-filter);
    z-index: 0;
}
section.hero > * {
    position: relative;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color-2);
    border-bottom: 1px solid var(--fg-color-3);
    z-index: 100;
}
header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: var(--grid);
}
header nav ul {
    display: flex;
    flex-flow: row nowrap;
    column-gap: var(--grid);
    margin: 0;
    padding: 0;
    list-style: none;
}
header nav ul li {
    margin: 0;
    padding: 0;
}
header nav ul li p {
    margin: 0;
}
.wrapper {
    width: 100%;
    max-width: var(--page-max-size);
    margin: 0 auto;
}
.box {
    padding: var(--grid);
}
#intro {
    justify-content: center;
    align-items: center;
}
#intro::before {
    background-image: url(me.jpg);
}
#intro .box {
    position: relative;
    top: 20%;
    text-align: center;
    text-shadow: -2px 2px 0 var(--bg-color-1),
        2px 2px 0 var(--bg-color-1),
        2px -2px 0 var(--bg-color-1),
        -2px -2px 0 var(--bg-color-1);
}
#intro h1, #intro h3 {
    margin: 0;
    padding: 0;
}
#about {
    flex-flow: row nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
#about .item {
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}
#contact {
}